{% extends "layoutNav.njk" %}

{% block head %}
    <title>Siguiendo</title>
    <link rel="stylesheet" href="/stylesheets/amigos.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/fantasia">Fantasía</a>
            <a class="dropdown-item" href="/ficcion">Ficción</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/humor">Humor</a>
            <a class="dropdown-item" href="/misterio">Misterio</a>
            <a class="dropdown-item" href="/poesia">Poesía</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="#">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    {% if user.isAdmin == true %}
        <li class="nav-item">
            <a class="nav-link" href="/admin_libros">Gestionar libros</a>
        </li>
    {% endif %}


    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>


{% endblock %}

{% block header %}
        <h1>¡Hola, {{ user.firstName }}!</h1>
{% endblock %}

{% block content %}
    {% if follows|length < 1 %}
        <h3>No estás siguiendo a ningún usuario.</h3>
        <a class="btn btn-outline-secondary" href="/comunidad">COMIENZA A SEGUIR USUARIOS</a>
    {% else %}
        <h3>Aquí están los usuarios a los que sigues.</h3>

        {% for follow in follows %}
        <form method="POST" action="/amigos">
            <div class ="container">
                <div class="libros">
                    <img class="photo" src="/img/{{ follow.username }}.jpg" alt="Sample photo">
                    <div class="libros-body">
                        <h3 class="libros-heading">{{ follow.username }}</h3>
                        <div class="libros-description">{{ follow.email }}</div>
                        <input type="hidden" id="friendusername" name="friendusername" value="{{ follow.username }}">
                        <br><input type="submit" class="btn btn-outline-dark" value="Dejar de seguir">
                    </div>
                </div>
            </div>
        </form>

        <form method="POST" action="/amigos_publicaciones">
            <input type="hidden" id="friendusername" name="friendusername" value="{{ follow.username }}">
            <br><input type="submit" class="btn btn-secondary" value="Ver publicaciones">
        </form>


        {% endfor %}


    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}