{% extends "layoutNav.njk" %}

{% block head %}
    <title>FinerThings</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorías</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block content %}

    <div class="box">
        <img src="images/background1.png" alt="Background">
        <div class="text">
            <h1>BIENVENIDO A FINER THINGS,  {{ user.firstName }} </h1>
            <a class="btn btn-outline-dark" href="/login">COMIENZA A LEER</a>
            <a class="btn btn-outline-dark" href="/login">COMIENZA A ESCRIBIR</a>

        </div>
    </div>
    

{% endblock %}

{% block footer %} {% endblock %}