{% extends "layoutNav.njk" %}

{% block head %}
    <title>FinerThings</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/fantasia">Fantasía</a>
            <a class="dropdown-item" href="/ficcion">Ficción</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/humor">Humor</a>
            <a class="dropdown-item" href="/misterio">Misterio</a>
            <a class="dropdown-item" href="/poesia">Poesía</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="/amigos">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>


{% endblock %}

{% block header %}
    <body>
        <h1>Nos encanta verte volver, {{ user.firstName }}</h1>
        <h3>¿Qué quieres hacer hoy?</h3>
{% endblock %}

{% block content %}

    <div id="img-container">
        <br><a href="/libros"><img class="img-item" src="/img/dashboard1.jpg"></a>
        <h2>hi.</h2>
        <br><a href="/escribir"><img class="img-item" src="/img/dashboard2.jpg"></a>
    </div>

    <div id="options-container">
        <a class="btn btn-outline-light" href="/libros">VER PUBLICACIONES</a>
        <h2>..........................</h2>
        <a class="btn btn-outline-light" href="/escribir">COMEZAR A ESCRIBIR</a>
    </div>
    </body>
{% endblock %}

{% block footer %}{% endblock %}