{% extends "layoutNav.njk" %}

{% block head %}
    <title>FinerThings</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorías</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block header %}
    <body>
        <h1>Nos encanta verte volver, {{ user.firstName }}</h1>
        <h3>¿Qué quieres hacer hoy?</h3>
{% endblock %}

{% block content %}
    <div id="img-container">
        <img class="img-item" src="/images/dashboard1.jpg">
        <img class="img-item" src="/images/dashboard2.jpg">
    </div>
    <div id="options-container">
        <a class="btn btn-outline-light" href="/login">COMIENZA A LEER</a>
        <a class="btn btn-outline-light" href="/login">COMIENZA A ESCRIBIR</a>
    </div>
    </body>
{% endblock %}

{% block footer %}{% endblock %}