{% extends "layoutNav.njk" %}

{% block head %}
    <title>Mis Publicaciones</title>
    <link rel="stylesheet" href="/stylesheets/escribir.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/fantasia">Fantasía</a>
            <a class="dropdown-item" href="/ficcion">Ficción</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/humor">Humor</a>
            <a class="dropdown-item" href="/misterio">Misterio</a>
            <a class="dropdown-item" href="/poesia">Poesía</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="/amigos">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    {% if user.isAdmin == true %}
        <li class="nav-item">
            <a class="nav-link" href="/admin_libros">Gestionar libros</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>

{% endblock %}

{% block header %}
    <h1> Mis publicaciones</h1>
    <a class="btn btn-secondary" href="/escribir_form">Nueva publicación</a>
{% endblock %}

{% block content %}

    {% if libros|length < 1 %}
        <h3>No has realizado ninguna publicación.</h3>
    {% else %}

        {% for libro in libros %}
            <form method="POST" action="/escribir">
                <div class ="container">
                    <div class="libros">
                        <img class="photo" src="{{ libro.photo }}" alt="Sample photo">
                        <div class="libros-body">
                            <h3 class="libros-heading">{{ libro.title }}</h3>
                            <div class="libros-description">{{ libro.description }}</div>
                            <a href="/libros/{{ libro._id }}"> Leer más </a>
                            <input type="hidden" id="librotitle" name="librotitle" value="{{ libro.title }}">
                            <br><input type="submit" class="btn btn-outline-dark" value="Eliminar publicacion">
                        </div>
                    </div>
                </div>
            </form>

        {% endfor %}


    {% endif %}
{% endblock %}

{% block footer %}{% endblock %}