{% extends "layoutNav.njk" %}

{% block head %}
    <title>FinerThings</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
</li>

    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>

{% endblock %}

{% block content %}

    <div class="box">
        <img src="img/background1.png" alt="Background">
        <div class="text">
            <h1>BIENVENIDO A FINER THINGS</h1>
           <p><h2> Te conectamos con una comunidad apasionada por la literatura</h2>
            <h3> Si tienes una historia que contar, este es el sitio para ti. <br>
                Si aún no se te ocurre el próximo <i> Best Seller,</i><br>
                aquí también puedes encontrar la inspiración que necesitas. <br></h3>
                <h4>#JoinTheFinerThingsClub.</h4>
            <a class="btn btn-outline-dark" href="/login">COMIENZA A LEER</a>
            <a class="btn btn-outline-dark" href="/login">COMIENZA A ESCRIBIR</a>

        </div>
    </div>
    

{% endblock %}

{% block footer %} {% endblock %}