{% extends "layoutNav.njk" %}

{% block head %}
    <title>Tu librería</title>
    <link rel="stylesheet" href="/stylesheets/libreria.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/fantasia">Fantasía</a>
            <a class="dropdown-item" href="/ficcion">Ficción</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/humor">Humor</a>
            <a class="dropdown-item" href="/misterio">Misterio</a>
            <a class="dropdown-item" href="/poesia">Poesía</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="/amigos">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    {% if user.isAdmin == true %}
        <li class="nav-item">
            <a class="nav-link" href="/admin_libros">Gestionar libros</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>


{% endblock %}

{% block header %}
        <h1>¡Hola, {{ user.firstName }}!</h1>
{% endblock %}

{% block content %}
    {% if favorites|length < 1 %}
        <h3>No tienes ninguna publicación añadida a tu lista de favoritos.</h3>
        <a class="btn btn-outline-light" href="/libros">COMIENZA A LEER</a>
    {% else %}
        <h3>Aquí están tus publicaciones favoritas.</h3>

        {% for favorite in favorites %}
        <form method="POST" action="/libreria">

            <div class ="container">
                <div class="libros">
                    <img class="photo" src="{{ favorite.photo }}" alt="Sample photo">
                    <div class="libros-body">
                        <h3 class="libros-heading">{{ favorite.title }}</h3>
                        <div class="libros-description">{{ favorite.description }}</div>
                        <a href="/libreria/{{ favorite._id }}"> Leer más </a>
                        <input type="hidden" id="favoritetitle" name="favoritetitle" value="{{ favorite.title }}">
                        <br><input type="submit" class="btn btn-outline-dark" value="Eliminar de Favoritos">
                    </div>
                </div>
            </div>
        </form>

        {% endfor %}


    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}