{% extends "layoutNav.njk" %}

{% block head %}
    <title>Tu librería</title>
    <link rel="stylesheet" href="/stylesheets/libro_detailed.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/comunidad">Comunidad</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>


{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="profile-title">{{ libro.title }}</h3>
        <img class="photo" src="{{ libro.photo }}" alt="Sample photo">
        <div class="info">{{ libro.content }}
            <a class="btn btn-outline-dark" href="/libros">Volver</a>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}