{% extends "layoutNav.njk" %}

{% block head %}
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/stylesheets/miperfil.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="/amigos">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="#">Mi perfil</a>
    </li><br>

    {% if user.isAdmin == true %}
        <li class="nav-item">
            <a class="nav-link" href="/admin_libros">Gestionar libros</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>


{% endblock %}

{% block header %}
<h1>¡Hola, {{ user.firstName }}!</h1>
<h3>Bienvenido a tu perfil.</h3>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="profile">
            <div class="profile-photo">
                <img style="max-height: 300px; max-width: 300px" src="/img/{{ user.username }}.jpg"> </div>
            <div class="profile-info">
                <br class="info-item">Username: {{ user.username }}
                <br class="info-item">Email: {{ user.email }}
                <br class="info-item">Nombre: {{ user.firstName }}
                <br class="info-item">Apellido: {{ user.lastName }}
            </div>
        </div>
    </div>
        <div class="buttons">
            <a class="btn btn-outline-dark" href="/perfil_form_foto">Cambiar foto de perfil</a>
            <a class="btn btn-outline-dark" href="/perfil_form_pass">Cambiar contraseña</a>
        </div>

{% endblock %}

{% block footer %}{% endblock %}