{% extends "layoutNav.njk" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Modificar publicación</title>
    <link rel="stylesheet" href="/stylesheets/escribir_form.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/libros">Todos</a>
            <a class="dropdown-item" href="/accion">Acción</a>
            <a class="dropdown-item" href="/aventura">Aventura</a>
            <a class="dropdown-item" href="/fantasia">Fantasía</a>
            <a class="dropdown-item" href="/ficcion">Ficción</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/humor">Humor</a>
            <a class="dropdown-item" href="/misterio">Misterio</a>
            <a class="dropdown-item" href="/poesia">Poesía</a>
            <a class="dropdown-item" href="/romance">Romance</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Comunidad
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/comunidad">Encontrar amigos</a>
            <a class="dropdown-item" href="/amigos">Siguiendo</a>
            <a class="dropdown-item" href="/seguidores">Mis seguidores</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/libreria">Librería</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/escribir">Mis publicaciones</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi perfil</a>
    </li><br>

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li><br>

{% endblock %}

{% block header %}
    <h1> Modificar publicación </h1>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="formulario">
            <img id="escribir-photo" src="/img/escribir-form.png" alt="Añadir portada">
            <p class="photo-desc"> Haz click en la imagen para añadir la portada de tu publicación.</p>
            <div class="escribir-form">
                <form class="modificarform" method="POST" action="/modificar_publicacion" id="modificar_form" encType="multipart/form-data">

                    <label for="title">Título</label>
                    <input name="title" value="{{ title }}" type="text" placeholder="Introduce el título de tu publicación" class="form-control" id="title" required="required" maxlength="30"/><br />

                    <label for="description">Descripción</label>
                    <input name="description" value="{{ description }}" type="text" placeholder="Cuéntanos de qué trata tu publicación para atraer a más lectores" class="form-control" id="description" required="required" maxlength="100"/><br />

                    <label for="category">Categoría</label>
                    <select name="category" id="category" class="form-control selectpicker" required="required">
                        <option value="">Escoge una categoría</option>
                        <option>Acción</option>
                        <option>Aventura</option>
                        <option>Fantasía</option>
                        <option>Ficción</option>
                        <option>Horror</option>
                        <option>Humor</option>
                        <option>Misterio</option>
                        <option>Poesía</option>
                        <option>Romance</option>
                    </select> <br />

                    <label for="language">Idioma</label>
                    <select name="language" id="language" class="form-control selectpicker" required="required">
                        <option value="">Selecciona el idioma de tu publicación</option>
                        <option>Español</option>
                        <option>Inglés</option>
                    </select> <br />

                    <label for="content">Publicación</label>
                    <textarea type="text" name="content" id="content" class="form-control" required="required" rows="30" cols="50">{{ content }}</textarea>

                    <input type="file" name="fotoescribir" id="upload" required="required" onchange="update(event)">

                    <br />
                    <input type="hidden" id="librophoto" name="librophoto" value="{{ photo }}">
                    <input type="hidden" id="librotitle" name="librotitle" value="{{ title }}">
                    <input type="submit" class="btn btn-outline-dark" value="Actualizar publicación">
                    <a class="btn btn-outline-dark" href="/escribir">Volver</a>


                    <br />

                </form>
            </div>
        </div>
    </div>

    <h2 class="h2-blank"> </h2>

{% endblock %}
{% block footer %}

    <script type="text/javascript">

        $("#escribir-photo").click(function(e) {
            $("#upload").click();
        });
    </script>

    <script type="text/javascript">

        var update = function(event) {

            var output = document.getElementById('escribir-photo');
            output.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
{% endblock %}