.container {
    width: 50%;
    padding: 1%;
}

.libros {
    display: grid;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 5em;
    grid-template-areas:
    ". photo libro"
    ". photo libro"
    ". photo libro";
    grid-area: libro;

}
.photo {
    margin-top: -40px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    grid-area: photo;
    display: block;
    position: absolute;
    max-width:270px;
    max-height:220px;
}
.libros-body {
    display: grid;
    grid-template-areas:
    "title title title"
    "description description description"
    "description description description";
    grid-area: info;
}
.libros-heading {
    grid-area: title;

}

.libros-description {
    grid-area: description;
    font-size: 15px;
}

h1 {
    color: palevioletred;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
    padding: 1%;
}

@keyframes type{
    from { width: 0; }
}


