h1 {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
    margin: 0 auto;
    text-align: left;
    margin-left: 100px;
    margin-top: 3%;
    padding: 1%;
}

@keyframes type{
    from { width: 0; }
}

body {
    background: #819aa6 linear-gradient(to right, #e08bd4, #657799);
}

