.box{
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.box .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #d12a89;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: xxx-large;
  font-weight: bolder;
}

h2 {

  color: white;
  font-size: x-large;
}

h3 {
  color: #524d4d;
  font-size: x-large;
  font-weight: lighter;
}

h4 {

  color: #ffd6f4;
  font-size: x-large;
}