h1 {
    color: palevioletred;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
    padding: 1%;
}

@keyframes type{
    from { width: 0; }
}

h3 {
    text-align: center;
}

.btn-secondary {
    right: 70px;
    top: 170px;
    position: absolute;
}

.container {
    width: 50%;
    padding: 1%;
}

.libros {
    display: grid;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 5em;
    grid-template-areas:
    ". photo info"
    ". photo info"
    ". . .";
    grid-area: libro;
}
.photo {
    margin-right: 10px;
    margin-top: 0;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    grid-area: photo;
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}
.libros-body {
    display: grid;
    grid-template-areas:
    "title title title"
    "description description description"
    "description description description";
    grid-area: info;
}
.libros-heading {
    grid-area: title;

}

.libros-description {
    grid-area: description;
}

.btn-outline-dark {
    position: relative;
    right: -120px;
    top: 50px;
    padding-left: 15px;
    padding-right: 15px;

}

.container a {
    font-size: large;
    font-weight: bold;
    margin-left: 130px;
    text-decoration: none;

}