.invisible {
    display: none;
}

.box{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    font-size: x-large;
    width: 60%; /* Set the width of the positioned div */
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    margin-top: 60px;
}

#profile-pic {
    margin: 20px;
    grid-area: photo;
    width:600px;
    height:480px;
    cursor: pointer;
}

#upload {
    display: none;
}

.signup-form {
    width: 800px;
    text-align: center;
    margin-left: 100px;
    font-size: 100%;
}

.photo-desc {
    font-size: 80%;
}
